{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% block main %}
{{ name }}
<form method="POST" action="">
	<input style="width:500px" name="q" value="{{ q }}">
</form>
<table>
	<tr>
		<th>Name</th>
		<th>Owner</th>
		<th>Date</th>
		<th>Parent</th>
		<th>Statement</th>
	</tr>
	{% for query in queries %}
	<tr>
		<td>{{ query.name }}</td>
		<td>{{ query.owner }}</td>
		<td>{{ query.date }}</td>
		<td>{{ query.parent }}</td>
		<td>
			<a href="https://analytics.dropbox.com/hivepad/query/{{ query.id }}">{{ query.statement }}</a>
		</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}